[submodule "packages/erp-app"]
	path = packages/erp-app
	url = https://github.com/inggl/erp-app
[submodule "packages/ngx-erp"]
	path = packages/ngx-erp
	url = https://github.com/inggl/ngx-erp
[submodule "charts"]
	path = charts
	url = https://github.com/inggl/erp-charts
